<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel = "icon" href = "data:,">
    <title>About</title>
    <link rel="stylesheet" href="public/css/opp-portal-css.css">
    <script src="/public/js/lib/api_bundle.js" ></script>

</head>
<body>
    <h1> About Page! </h1>

    <img src = "./public/images/backpack.jpeg" alt="backpack" width="300" class="center">

    <div id="div1"> BoredAPI result: </div>
    <script>
        api.getActivity()
    </script>
</body>
</html>