<header>
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <a class="btn btn-primary col-auto mx-auto" href="/users/edit_info?id={{id}}" role="button">Update</a>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#deleteModal">Delete Account</button>
            </div>
        </div>
    </div>

    <div id="deleteModal" class="modal fade" >
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Delete your account?</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body">
                    <p>Are you sure you want to delete your account and all of the opportunities associated
                        with it? This action cannot be undone.</p>
                </div>

                <div class="modal-footer">
                    <form class="modal-content" method="post" action="/users/destroy">
                        <input type="hidden" name="id" value="{{id}}"/>
                        <input class="col-xs-3 btn btn-primary" type="submit" value="Delete"/>
                    </form>

                </div>
            </div>

        </div>
    </div>
</header>