<div class="container-fluid m-2">
    {{> user_messages}}
</div>

<form method="post" action="/users/update_password">
    <div class="container-fluid">
        <div class="form-group">
            <label class="col-form-label font-weight-bold pb-0 " for="email">Email:</label></br>
            <input class="col-sm-3 col-xs-3" type="email" name="email" placeholder="Email" required/></br>
        </div>

        <div class="form-group">
            <label class="col-form-label font-weight-bold pb-0 " for="oldPassword">Current Password:</label></br>
            <input class="col-sm-3 col-xs-3" type="password" name="oldPassword" value="" placeholder="current password" required/></br>
        </div>

        <div class="form-group">
            <label class="col-form-label font-weight-bold pb-0" for="newPassword">New Password:</label></br>
            <input class="col-sm-3 col-xs-3" type="password" name="newPassword" value="" placeholder="new password" required/></br>
        </div>

        <div class="form-group">
            <label class="col-form-label font-weight-bold pb-0" for="confirmNewPassword">Confirm New Password:</label></br>
            <input class="col-sm-3 col-xs-3" type="password" name="confirmNewPassword" value="" placeholder="confirm new password" required/></br>
        </div>

        <div class="form-group row justify-content-start col-3 pt-3" >
            <input id="submit-bar" class="col-xs-3 btn btn-primary" type="submit" value="Submit"/>
        </div>

    </div>
</form>
