body {
  max-width: max-content;
  margin: auto;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.navbar {
  text-align: center;
}

a {
  color: mediumblue;
}

.form {
  max-width: max-content;
  margin: auto;
}