
<div class="container-fluid">
    <div class="mx-auto pb-4">
        <img class="backpack" src= "../assets/images/backpack.jpeg" alt="backpack" width="100">

    </div>
</div>

<form method="post" action="/opportunities/save">
    <div class="container-fluid">
        <input type="hidden" name="saveMethod"
               value="{{#if isCreate}}create{{else}}update{{/if}}"/>

        <input type="hidden" name="oppKey" value="{{oppKey}}"/>


        <div class="form-group">
            <label class="col-form-label font-weight-bold pb-0" for="title">Title: </label>
            <input class="form-control col-sm-10" type="text" name="title"/> <br/>
        </div>

        <div class="form-group">
            <label class="col-form-label font-weight-bold pb-0" for="submitter">Submitter Name: </label>
            <input class="form-control col-sm-4" type="text" name="submitter"/> <br/>
        </div>

        <div class="form-group">
            <label class="col-form-label font-weight-bold" for="dateDue">Date: </label>
            <input type="date" name="dateDue" value="" placeholder="mm-dd-yyyy"
                   min="2020-11-01" max="2030-11-01" /> <br/>
        </div>

        <div class="form-group">
            <label class="col-form-label font-weight-bold pt-2 pb-0 " for="description"> Description: </label>
            <textarea class="form-control col-sm-10" rows=5 name="description"> </textarea> <br/>
        </div>

        <div class="form-group">
            <label class="col-form-label font-weight-bold mb-0 pb-0 " for="oppType"> Type: </label>
            <div class="font-weight-bold ">
                <select class="form-control col-sm-4" name="oppType">
                    <option>--blank--</option>
                    <option>Internship</option>
                    <option>Volunteer Opportunity</option>
                    <option>Event</option>
                    <option>Scholarship</option>
                    <option>Club or Ongoing Activity</option>
                    <option>Contest</option>
                    <option>Award</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-form-label font-weight-bold pb-0" for="oppLoc"> Location: </label>
            <div class="form-check pt-0" >
                <input class="form-check-input" type="checkbox" value="virtual" name="oppLoc">
                <label class="form-check-label" for="oppLoc">
                    Virtual
                </label>
            </div>
            <div class="form-check pb-2" >
                <input class="form-check-input" type="checkbox" value="online" name="oppLoc">
                <label class="form-check-label" for="oppLoc">
                    In-person
                </label>
            </div>
        </div>

<!--        <div class="form-group">
            <label class="col-form-label font-weight-bold mb-0 pb-0 " for="oppLoc"> Location </label>
            <div class="font-weight-bold ">
                <select class="form-control col-sm-3" name="oppLoc">
                    <option>--blank--</option>
                    <option>Virtual</option>
                    <option>In-person</option>
                </select>
            </div>
        </div>-->



        <div class="form-group row justify-content-center pt-3" >
            <input id="submit-bar" class="col-xs-3 btn btn-primary" type="submit" value="Submit" />
        </div>

    </div>

</form>

