<h2> Hello! Check out NCP's current list of STEM opportunities! </h2>


<img class="backpack" src= "./assets/images/backpack.jpeg" alt="backpack" width="300">

<div class="container-fluid p-0">
    <section class="about-section p-3 p-lg-5 d-flex align-items-center" id="page_content">
        <div id="about_page" class="w-100">
            <h3>About the STEM Portal:</h3>
            <hr>
            <p>
                Have you ever received an email from one of your teachers about a cool internship or STEM-related experience and
                lost it before you could apply to it? Or, on the other hand, have you received multiple emails about the same
                opportunity from multiple teachers over and over again? The STEM opportunity portal keeps all of the STEM opportunities
                your STEM teachers send out in one, searchable database for you so that you never lose them again!
            </p>

        </div>
    </section>
</div>
