<header>
    <h1>{{title}}</h1>
    <div class="navbar">
        <p>
            <a href="/">Home</a> |  <a href = "/opportunities/add"> Add</a>
            | <a href = "/opportunities/view_all"> View All</a>
        </p>
    </div>
</header>