<header>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark border">
        <a class="navbar-brand" href="/"><i data-feather="home"></i></a>

        <a class="navbar-text js-scroll-trigger" >
            <span class="navbar-text">{{pageTitle}}</span>
        </a>

        <button class="navbar-toggler" type="button"
            data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle Navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            {{#unless loggedIn}}
                <ul class="navbar-nav ml-auto">
                    <li>
                        <a id="viewAll" class="nav-link js-scroll-trigger" href="/opportunities/view_all"> Current Opportunities</a>
                    </li>
                    <li>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="register" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false"> Sign Up
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="/users/register">Educator </a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="login" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false"> Log In
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="/users/login">Educator</a>
                            </div>
                        </div>
                    </li>
                </ul>
            {{else}}
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a id="viewAll" class="nav-link js-scroll-trigger" href="/opportunities/view_all"> All Opportunities</a>
                    </li>
                    <li class="nav-item">
                        <a id="viewAll" class="nav-link js-scroll-trigger" href="/opportunities/view_user_opps"> My Opportunities</a>
                    </li>
                    <li class="nav-item">
                        <a id="add" class="nav-link js-scroll-trigger " href="/opportunities/add"> Add An Opportunity</a>
                    </li>
                </ul>

                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="logout" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                        {{currentUser.fullName}}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/users/view_user">Account Info</a>
                        <a class="dropdown-item" href="/users/logout">Logout</a>
                        <a class="dropdown-item" href="/users/reset_password">Reset Password</a>

                    </div>
                </div>
            {{/unless}}
        </div>
    </nav>
</header>