<header>
    <div class="navbar">
        <hr/>
        <p>
            <span> <a href = "/opportunities/delete?key={{oppKey}}">Delete</a> |
            <a href = "/opportunities/edit?key={{oppKey}}">Edit</a></span>
        </p>
    </div>
</header>